@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");

$pri-color: #e583e2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: black;
  color: white;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding: 2rem 5rem;
  width: 100%;

  .logo img {
    width: 4rem;
  }
  nav {
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        color: white;
        text-decoration: none;
        margin: 0 1rem;
      }
    }
    .active {
      border: 3px solid white;
      border-radius: 999px;
      padding: 0.5rem 1rem;
    }
  }
}

.hero {
  background: url("../img/hero.jpg") rgba(0, 0, 0, 0.3);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5rem;

  .hero_text {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    h1 {
      font-size: 100px;
    }
    p {
      font-size: 1.2rem;
      width: 23rem;
      
    }
    button {
      background: unset;
      color: white;
      border: 5px solid white;
      font-size: 1.2rem;
      font-weight: 700;
      padding: 1rem 8rem;
      margin-top: 3rem;
    }
    form {
      margin-top: 2rem;
      input, button {
        font-size: 1rem;
        padding: 1rem;
        border: none;
        width: 20rem;
        border-radius: 999px;
        margin: 0.2rem;
        font-weight: 400;
      }
      input {
        padding-left: 2rem;
      }
      button {
        background: $pri-color;
      }
    }
  }
}
.social {
  display: flex;
  img {
    width: 2rem;
    margin: 1rem;
  }
}

.chart_and_release {
  display: flex;
  margin-top: 2rem;
  h1 {
    color: #cecece;
    padding-top: 5rem;
    padding-left: 5rem;
  }
  .border {
    width: 20rem;
    border-bottom: 1px solid #e8e8e8;
    margin-top: 1.5rem;
    margin-left: 5rem;
  }
  .circle {
    background: rgba(255, 255, 255, 0.19);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    left: -4rem;
  }
  .bar_chart {
    width: 40rem;
    margin-top: 3rem;

    .chart {
      width: 50rem;
      height: 2rem;
      display: flex;
      margin: 1rem;

      .bar {
        width: 15rem;
        height: 100%;
        margin-right: 1rem;
        .colorbar {
          background: $pri-color;
          height: 100%;
        }
      }
    }
  }
  .chart,
  .release {
    position: relative;
    flex: 1;
  }
  .relaese {
    display: flex;
    flex-direction: column;
    align-items: flex-end !important;
    .circle {
      left: unset;
      right: -4rem;
    }
  }
}

.newsong {
  display: flex;
  margin-top: 4rem;

  img {
    width: 7rem;
    object-fit: contain;
    margin-right: 2rem;
  }

  .text {
    p {
      font-size: 0.8rem;
    }
    button {
      background: unset;
      color: $pri-color;
      border: 3px solid $pri-color;
      font-weight: 700;
      padding: 0.5rem 4rem;
      margin-top: 1.2rem;
    }
  }
}

.rap_news {
  h1 {
    color: #cecece;
    padding-top: 5rem;
    padding-left: 5rem;
  }
  .border {
    width: 20rem;
    border-bottom: 1px solid #e8e8e8;
    margin-top: 1.5rem;
    margin-left: 5rem;
  }
  .circle {
    background: rgba(255, 255, 255, 0.19);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    left: -4rem;
  }
  .news_list {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 0.8rem;
    }
    button {
      background: unset;
      color: $pri-color;
      border: 3px solid $pri-color;
      font-weight: 700;
      padding: 0.5rem 4rem;
      margin-top: 1.2rem;
    }
    .news {
      width: 20rem;
      margin: 2rem;
    }
  }
}

.per10 {
  width: 10%;
}
.per20 {
  width: 20%;
}
.per30 {
  width: 30%;
}
.per40 {
  width: 10%;
}
.per50 {
  width: 50%;
}
.per60 {
  width: 60%;
}
.per70 {
  width: 70%;
}
.per80 {
  width: 80%;
}
.per90 {
  width: 90%;
}
.per100 {
  width: 100%;
}

main {
  aside {
    display: flex;
    align-items: center;
    padding: 2rem;
    ul {
      list-style: none;
      li {
        display: flex;
        align-items: center;
        margin: 3rem 0;
        img {
          width: 3rem;
          margin-right: 1.5rem;
        }
      }
    }
  }
}